*{
box-sizing:border-box;
font-family:Arial;
}

body{
margin:0;
background:#f4f1ff;
}

header{
background:linear-gradient(135deg,#7b2ff7,#9f44ff);
color:white;
text-align:center;
padding:35px;
}

.container{
max-width:1000px;
margin:auto;
padding:20px;
}

.card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,0.1);
margin-top:20px;
}

input,textarea,select{
width:100%;
padding:12px;
margin-top:10px;
border-radius:8px;
border:1px solid #ddd;
}

button{
background:#7b2ff7;
color:white;
border:none;
padding:12px 18px;
margin-top:10px;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#5f1edc;
}

.resume-preview{
padding:20px;
border:1px solid #eee;
margin-top:20px;
}

@media(max-width:600px){

header{
padding:25px;
}

.container{
padding:15px;
}

}
